body {
    width: 960px;
    margin: 45px auto;
    padding: 40px 120px;
    color: #444;
  }

  .thin-diagonal-lines{
    margin-top: 25px;
    width: 960px;
    height: 12px;
    background-size: 6px 6px; 
    background-image: linear-gradient(45deg, transparent 46%, gray 49%, gray 51%, transparent 55%);
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .box {
    float: left;
    width: 50%; 
  }
  .box-5 {
    float: left;
    width: 5%; 
  }
  .box-10 {
    float: left;
    width: 10%; 
  }
  .box-20 {
    float: left;
    width: 20%; 
  }
  .box-47 {
    float: left;
    width: 47.5%; 
  }
  .box-60 {
    float: left;
    width: 60%; 
  }

  /* HEADER*/
  header {
    display: inline-block;
    margin: 0;
  }
  
  .logo{
      float: left;
      margin-right: 10px;
  }

    header p {
     display:  block;
     margin: 0;
     line-height: 25px;
  }
  
  .title {
    font-family: 'Yellowtail', cursive;
    font-size: 2.7em;
    color: rgb(0, 0, 0);  
  }
  .sub-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 0.9em;
    text-transform: uppercase; 
    color: rgb(73, 72, 72);  
  }

  .share-links{
    text-align: right; 
    font-size: 5px;
}
  .share-links-2{
    margin-left: 7px;
}

/* MAIN*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.7em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 25px;
    margin-bottom: 0px;
}
.timestamp{
    text-align: left; 
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase; 
    color: rgb(185, 184, 184); 
    line-height: 5px;
   
}
.print{
    text-align: right; 
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase; 
    color: rgb(185, 184, 184); 
}

  .main-sub-title {
    font-family: 'Yanone Kaffeesatz';
    font-size: 1em;
    margin: 0;
  }

  .main-img{
      width: 960px;
      margin-top: 20px;
  }

  main p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
    color: rgb(150, 143, 135);
    text-align: left;
    font-weight: 100;
  }
  .main-text{
      text-indent: 2em;
  }
 .form {
    background-image: url("../assets/list-bg.png");
    background-size: 960px 360px;  
    padding-left: 2em;
    padding-top: 42px;
    padding-bottom: 50px;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    font-size: 1.4em; 
    line-height: 38px;
    color: rgb(112, 97, 79);
  } 
  .left {
    float: left;
  }
 .right{
    float: right; 
 }


 /* FOOTER */
 footer div {
    text-align: center;
    color: rgb(182, 181, 181); 
    font-size: 1.2em;
    margin: 0;
    display:  block;
  }
 